<div id="contact-us" class="tab">
    <div class="contactus_container">
        <h3>CONTACT US</h3>
        <div class="contactus_content">
            <div class="ctus_r1">
                <h3>Nirvana of Reading</h3>
                <p>1137 Berkshire Blvd,Wyomissing, PA 19610</p>
                <p>(484) 869 - 5160</p>
            </div>
            <div class="ctus_r2">
                <h3>Opening Hours</h3>
                <div class="d1">
                    <h4>Sunday - Monday</h4>
                    <p>11:30AM-2:30PM || 5:00PM-9:30PM</p>
                </div>
                <div class="d1">
                    <h4>Tuesday</h4>
                    <p>Closed</p>
                </div>
                <div class="d1">
                    <h4>Wednesday - Saturday</h4>
                    <p>11:30AM-2:30PM || 5:00PM-9:30PM</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <h3 class="p_footer">
                Powered By 
                <img class="logo" src="../../../assets/images/AVK Main Logo.svg">
            </h3>
        </div>
    </div>
</div>