<div class="mp">
    <mat-accordion class="mp_container">
        <h2>Admin Dashboard</h2>
        <div class="mp_form" [formGroup]="menuForm">
            <mat-expansion-panel class="mp_card_section" *ngFor="let key of getMenuKeys(menuForm); let i = index">
                <mat-expansion-panel-header class="mp_item-type"><mat-panel-title class="mp_menu_type">{{key}}</mat-panel-title>
                </mat-expansion-panel-header>
                <div [formGroupName]="key">
                    <div formArrayName="menuList">
                        <div class="mp_card" *ngFor="let item of getItemFormArray(key).controls;let itemIdx = index" [formGroupName]="itemIdx" > 
                            <div class="mp_card_left row">
                                <div class="mp_item-name r1">
                                    <label>Name: </label>
                                    <input type="text"  formControlName="itemName" [readonly]="!editableMap[item.value.itemName]" placeholder="enter item name"/>
                                </div>
                                <div class="mp_item-description r1">
                                    <label>Description: </label>
                                    <input  formControlName="itemDescription" [readonly]="!editableMap[item.value.itemName]" placeholder="enter item description"/>
                                </div>
                                <div class="mp_item-price r1">
                                    <label>Price: </label>
                                    <input type="text" formControlName="itemPrice" [readonly]="!editableMap[item.value.itemName]" placeholder="enter item price"/>
                                </div>
                            </div>
                            <div class="mp_card_right row">
                                <div class="mp_card_tools r2">
                                    <button class="edit" (click)="toggleEdit(key,item.value,true)">edit</button>
                                    <!-- <button class="update" (click)="updateMenuItem(item.value.itemName,true)">update</button> -->
                                    <button class="save" (click)="toggleEdit(key,item.value,false)">save</button>
                                    <button class="delete" (click)="deleteMenuItem(key,item.value)">delete</button>
                                </div>
                                <div class="mp_item-image r2">
                                    <img src="../../../../assets/images/example.jpg" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>