.gallery{
    padding-bottom: 100px;
    h2{
        text-align: center;
        color: white;
        font-size: 3rem;
        margin: 0;
      background: #4ECDC4;
      background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
      background: linear-gradient(to right, #556270, #4ECDC4);
      padding: 50px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}

.gallery_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}

.gallery_items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.g_i_card{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        width: 300px;
        height: 250px;
    }
}

.g_i_card > img:hover{
    transition: 0.1s ease-in;
    transform: scale(1.05);
    box-shadow: 2px 2px 4px rgba(117, 117, 117, 0.8), -2px -2px 4px rgba(117, 117, 117, 0.8);
}


@media(min-width:851px){

}

@media(max-width:850px){
    .g_i_card > img{
        width: 280px;
        height: 230px;
    }
}

@media(max-width:550px){
    .g_i_card > img{
        width: 100%;
        height: auto;
    }
}
