<div class="header bg-toggle">
    <div class="header_content">
        <div class="header_left">
            <img src="../../../assets/images/buddha.png" alt="">
            <a class="app_title" href="#home">NIRVANA</a>
        </div>
        <div class="header_right bg-toggle" (click)="showNav()" [ngClass]="{'nav-large': showNavTabs }">
            <a href="#home">Home</a>
            <a href="#menu">Menu</a>
            <a href="#gallery">Gallery</a>
            <a href="#contact-us">Contact</a>
        </div>
        <div class="nav-small" (click)="showNav()">
            <div *ngIf="!showNavTabs"><mat-icon aria-hidden="false" fontIcon="menu"></mat-icon></div>
            <div *ngIf="showNavTabs"><mat-icon aria-hidden="false" fontIcon="close"></mat-icon></div>
        </div>
    </div>
</div>