@media (min-width:1400px){
  .main_container, .header{
      max-width: 1530px;
      margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
  }
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    color: white;
    background: #000428;
  }

  .bg-toggle{
    background-color: #24243e !important;
  }
  
  .header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 28px 40px;
  }

  .header_left{
    font-size: 2.3rem;
    font-weight: 700;
    a{
      text-decoration: none;
      color: inherit;
    }
  }

  .header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        margin: 0 10px;
        text-decoration: none;
        color: inherit;
        font-size: 1.8rem;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        transition: all .55s ease;
    }
    a:hover{
      border-bottom: 2px solid white;
    }
    .hidebtn{
      margin-left: 10px;
    }
 }

 .nav-small{
  display: none;
 }

 @media(min-width:851px){

 }
 
 @media(max-width:850px){
  .header_left{
      font-size: 2.0rem;
    }
    .header_right {
      a{
          margin: 0 10px;
          font-size: 1.5rem;
      }
    }
 }
 
 @media(max-width:550px){
  .nav-large{
    right: 0 !important;
  }

  .header_right{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: -100%;
    top: 100%;
    background-color: #000428;
    width: 180px;
    height: 25vh;
    padding-top: 10px;
    transition: all 0.55s ease;
    a{
      font-size: 16px;
      padding: 10px 20px;
      text-align: center;
    }
    .hidebtn{
      display: none;
    }
  }
  .nav-small{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .togglebtn-small{
    margin-right: 10px;
  }

 }