<div id="home" class="home_content tab bg-toggle">
    <div class="home_container">
        <div class="home_left">
            <h1 class="home_title">{{welcomeMessage}},<br><span class="home_title-color">NIRVANA OF READING - AUTHENTIC INDIAN RESTAURANT</span></h1>
        </div>
        <div class="home_right">
            <img class="chakr" src="../../../assets/images/chakr.png">
            <img class="buddha" src="../../../assets/images/buddha.png">
        </div>
    </div>
    <div class="home_description">
        <h1>Experience the authentic taste of Indian cooking with NIRVANA OF READING.</h1>
        <p>Our chefs weave magic with exotic spices and culinary craft, crafting a memorable gastronomic voyage that will linger in your cravings.</p>
    </div>
</div>
