<div id="home" class="home_content tab bg-toggle">
    <div class="home_container">
        <div class="home_left">
            <h1 class="home_title">Welcome To,<br><span class="home_title-color">NIRVANA OF READING - AUTHENTIC INDIAN RESTAURANT</span></h1>
        </div>
        <div class="home_right">
            <img class="chakr" src="../../../assets/images/chakr.png">
            <img class="buddha" src="../../../assets/images/buddha.png">
        </div>
    </div>
    <div class="home_description">
        <p>Nirvana of Reading’s Indian home-style cooking offers a gastronomic journey through the rich flavors of traditional Indian cuisine. Our chefs’ expertise in blending exotic spices and cooking techniques creates a memorable culinary experience that will leave you craving for more.</p>
    </div>
</div>