@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html, body { height: 100%; }
body { margin: 0;}

body {
    transition: background-color 0.3s ease;
  }
  
.dark-mode {
    background-color: black;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.mdc-tab{
    padding: 0 12px !important;
}

.mat-mdc-tab-body-content{
    overflow-x: hidden !important;
}

.mat-drawer-content{
    overflow-x: hidden !important;
}

.mdc-dialog__surface{
    padding: 0 !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.mat-mdc-dialog-content{
    max-height: 560px !important;
    min-height: 500px !important;
    max-width: 560px !important;
    min-width: 500px !important;

    padding: 0 !important;
}

.color-white{
    color: white;
}

.bg-dark{
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    color: white;
    .swiper-pagination-bullet {
        background-color: white !important;
    }
     .mdc-tab__text-label {
        color: white !important;
    }
    .mdc-tab__text-label:hover {
        color: white !important;
    }
    .mat-mdc-tab-header-pagination-chevron {
        border-width: 3px 3px 0 0 !important;
        height: 10px !important;
        width: 10px !important;
        border-color: white !important;
    }
}

.mat-mdc-tab-group{
    padding: 0 15px;
}

.mdc-tab-indicator--active{
    .mat-mdc-tab-ripple{
        background: white;
        border-radius: 10px;
    }
    .mdc-tab__content{
        .menu_tab{
            color: black;
        }
    }
    .mdc-tab-indicator{
        .mdc-tab-indicator__content--underline{
            border: none;
        }
    }
}