.menu-items_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 25px;
    padding: 5px;
    overflow-x: hidden;
}

.menu_item{
    width: 49%;
    border-radius: 18px;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    flex: 0 0 auto;
    .menu_item_content{
        display: flex;
        padding: 10px;
        border-radius: 18px;
    }
}

.bg-shadow-toggle{
    box-shadow: 2px 2px 4px rgba(117, 117, 117, 0.8), -2px -2px 4px rgba(117, 117, 117, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 255, 236, 0.8), -2px -2px 4px rgba(0, 255, 236, 0.8);
}


.menu_item:hover{
    cursor: pointer;
    transition: 0.1s ease;
    transform: scale(1.02);
}

.r1{
    width: 20%;
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: contain;
    }
}

.r2{
    width: 80%;
    font-size: 15px;
}

.r2_c1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 6px;
    margin-top: 15px;
}

.item_title{
    font-weight: 700;
}

.item_price{
    color: orange;
    font-weight: 600;
}


@media(max-width: 999px){
    .menu_item{
        width: 98%;
    }
    .r1{
        width: 15%;
    }
    .r2{
        width: 85%;
    }
}

@media(max-width:700px){
    .menu_item{
        width: 95%;
    }
    .r1{
        width: 20%;
    }
    .r2{
        width: 80%;
        font-size: 15px;
    }
}

@media (min-width:352px) and (max-width:550px){
    .r1{
        width: 28%;
        img{
            width: 90px;
            height: 90px;
        }
    }
    .r2{
        width: 72%;
        font-size: 12px;
    }
}

@media(max-width:351px){
    .r1>img{
        width: 65px;
        height: 65px;
    }
    .r1{
        width: 25%;
    }
    .r2{
        width: 75%;
        font-size: 10px;
    }
}