<div id="menu" class="tab bg-dark">
    <div class="menu_container">
        <div class="menu_content">
            <div class="slider_ex">
                <section id="tranding">
                    <div class="container">
                      <h1 class="text-center section-heading">Trending Items</h1>
                    </div>
                    <div class="container">
                      <div class="swiper tranding-slider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide tranding-slide" *ngFor="let item of popularItems">
                            <div class="tranding-slide-img">
                              <img [src]="'../../../assets/images/'+ item.foodImage" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                              <h1 class="food-price">{{item.foodPrice}}</h1>
                              <div class="tranding-slide-content-bottom">
                                <h2 class="food-name">
                                  {{item.foodName}}
                                </h2>
                                <h3 class="food-rating">
                                  <span>{{item.foodRating}}</span>
                                  <div class="rating">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgb(255, 255, 0)" fontIcon="star"></mat-icon>
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgb(255, 255, 0)" fontIcon="star"></mat-icon>
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgb(255, 255, 0)" fontIcon="star"></mat-icon>
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgb(255, 255, 0)" fontIcon="star"></mat-icon>
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color:rgb(255, 255, 0)" fontIcon="star"></mat-icon>
                                  </div>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
              
                        <div class="tranding-slider-control">
                          <div class="swiper-button-prev slider-arrow">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="arrow_icon" fontIcon="keyboard_arrow_left"></mat-icon>
                          </div>
                          <div class="swiper-pagination"></div>
                          <div class="swiper-button-next slider-arrow">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="arrow_icon" fontIcon="keyboard_arrow_right" size="100"></mat-icon>
                          </div>
                        </div>
              
                      </div>
                    </div>
                </section>
            </div>
            <div class="menu_title"><h2 class="mat-elevation-z8">Our Menu</h2></div>
            
            <div class="menu_list" id="menu_list">  
              <mat-tab-group class="menu_list_mat_group" *ngIf="restaurantMenu.length">
                <mat-tab *ngFor="let menu of restaurantMenu, let i = index">
                  <ng-template mat-tab-label>
                    <div class="menu_tab">
                      <img [src]="'../../../assets/images/menu-tab/'+ menuTabImages[i]" alt="Restaurant Image" class="tab-img">
                      <span>{{ menu.menuName }}</span>
                    </div>
                  </ng-template>
                  <app-menu-items [menuItems]="menu.menuList"></app-menu-items>
                </mat-tab>
              </mat-tab-group>                
            </div>
        </div>
    </div>
</div>